.App {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

.status {
  font-style: italic;
  margin: 1em 0;
}

input {
  display: block;
  margin: 1em auto;
}

section {
  margin-top: 3em;
}

pre, ul {
  background-color: #444;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 15px auto;
  max-width: 600px;
  text-align: left;
}

ul {
  list-style-position: inside;
}
