body {
  background-color: #201c20;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 40px;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 100px;
}

h2, h3 {
  font-size: 20px;
  letter-spacing: 3px;
  margin: 2rem 0;
  margin-top: 100px;
}

.status {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}

input[type="file"]::file-selector-button {
  font-family: 'Times New Roman', Times, serif;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  cursor: pointer;
  transition: font-size 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
  font-size: 23px;
  color: #b8b8b8;
}

button {
  background: none;
  color: #fff;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: font-size 0.3s ease;
  display: block;
  margin: 1rem auto;
  text-align: center;
}

button:hover {
  font-size: 23px;
  color: #b8b8b8;
}

img {
  max-width: 80%;
  border: 2px solid #444;
  margin: 20px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}
